{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css_link %}<link rel="stylesheet" href="{% static 'main_site/css/style.css' %}">{% endblock css_link %}
    <title>{% block title %}Other{% endblock title %}</title>
</head>
<body>
    {% block content %}
       This is base template
    {% endblock content %}
</body>
</html>