{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>CRM</title>
    
</head>
<body>
    {% include 'navbar.html' %}
    <div class="max-w-4xl mx-auto">
       {% block content %}
       {% endblock content %}
    </div>
    
</body>
</html>