<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course</title>
</head>
<body>
  <h1>Learn django form Course App</h1>
  <!-- filters in django templates -->
  <h4>{{course_name |capfirst}}</h4>
  <h4>{{student_name|default:'nothing'}}</h4>
  <h4>{{student_roll}}</h4>

  {% if course_name == 'Python Django' %}
     <h1>This is complete django course</h1>
     {% else %}
     <h1>This is complete Python course</h1>
  {% endif %}

  <h1>Length of dictionary {{dict_val|length}}</h1>

  <!-- Iterating on dictionary -->
  {% for key,value in dict_val.items %}
      <h1>Key: {{key}}</h1>
      <h2>Value: {{value}}</h2>
   {% endfor %}


</body>
</html>