{% extends 'partials/base.html' %}
{% block title %}Index Page{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
       <div class="row mt-5 pt-3">
          <div class="col-md-8 offset-2">
              <div class="card my-3 shadow">
                 <div class="cardbody m-2">
                       <div class="alert alert-danger">
                          Are you sure you want to delete post ?
                        </div>
                        <form method = 'POST'>
                          {% csrf_token %}
                          <a class="btn btn-primary btn-sm" href="{% url 'blog-post-detail' post.id %}">Cancle</a>
                           <input class="btn btn-danger btn-sm" type="submit" value="confirm">
                        </form>
                 </div>
              </div>
          </div>
       </div>
    </div>
{% endblock content %}