{% extends 'partials/base.html' %}
{% block title %}Password Reset Done Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h4>Password Reset Done Page</h4>
                    <hr>
                    <div class="alert alert-info">
                        An Email has been sended to your mail with password reset instructions 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}